<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h1>this is the homepage 1+2</h1>
    <h3><%= ["hello","namste","guys"][0]  %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse exercitationem iusto cum omnis molestiae
         in aperiam voluptates dignissimos libero
         assumenda possimus eveniet nesciunt tempora quasi, quisquam dolore facere tenetur labore.
        </p>

        <button>click me </button>
</body>
</html>