<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Dice give value: <%=dicval%></h1>

    <% if(dicval==6){ %>

      <h2>nice! roll dice again</h2>

      <%else {%> 
      
        <h2>again roll the Dice</h2>
        <%}%>



</body>
</html>